@import "variables";
@import "helpers";
@import "alert";

.hid-header {
  background: $main_color;
  height: 300px;
  position: relative;

  img {
    padding-left: 10px;
    max-width: 90%;
  }

  .hid-header-menu {
    position: absolute;
    bottom: 0;

    ul {
      margin: 0;

      li {
        margin: 0 10px 0 0;
        display: inline-block;
        padding: 15px 40px;
        background: $main_color_light;
        font-size: 20px;

        a {
          color: $body_color;
          text-decoration: none;
        }

        &.active {
          background: $body_color;

          a {
            color: $main_color;
          }
        }
      }
    }
  }
}
